.text_block {
    text-align: justify;
    width: 95%;
    transition: all 0.3s ease;
    margin: 5px auto;
}


@media (min-width: 1200px) {
    .text_block {
        margin: 0;
        width: 270px;
        height: 270px;
        padding: 0 5px;
        transition: all 0.3s ease;
    }
}

